__pycache__/*
*.pyc
# Created by https://www.gitignore.io/api/virtualenv
# Edit at https://www.gitignore.io/?templates=virtualenv

### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
pyvenv.cfg
.env
.venv
env/
venv/
ENV/
vscode/
env.bak/
venv.bak/
pip-selfcheck.json
.vscode
# End of https://www.gitignore.io/api/virtualenv
.vscode/settings.json
settings.json
.vscode/settings.json
